<header >
  <p class="p-3 text-black" style="margin-left: 0px" routerLink="home">NCMS </p>
  <nav >

    <ul>
      <li routerLink="doctor" routerLinkActive="active">Doctor</li>
      <li routerLink="moh" routerLinkActive="active">Moh</li>
      <li routerLink="register" routerLinkActive="active">Register</li>
      <li routerLink="login" routerLinkActive="active" *ngIf="!islogged; else a">Login</li>
      <ng-template #a>
        <li (click)="logout()" >Logout</li>
      </ng-template>
    </ul>
  </nav>
</header>
