<div  >
  <app-header></app-header>

  <div class="row justify-content-center" >

    <div class="col-6 pt-1 pb-5 mt-3" style="text-align: center">
      <h1 style="text-shadow: 4px 4px 4px #7abaff; -webkit-text-fill-color: aliceblue; margin-top: 180px">NATIONAL COVID MANAGEMENT</h1>
      <h1 style="text-shadow: 4px 4px 4px #7abaff;-webkit-text-fill-color: aliceblue">SYSTEM</h1>
      <h2 style="text-shadow: 4px 4px 4px #7abaff; -webkit-text-fill-color: aliceblue">Digital capturing of information at checkpoints for staff, covid patients & visitors.</h2>
    </div>
    <div class="col-6 pt-1 pb-5 mt-3" style="text-align: center; ">
      <br>
      <h2 style="-webkit-text-fill-color: aliceblue">Total Covid-19 Patients(Country Level) : {{totalCount}}</h2>
      <h4 style="-webkit-text-fill-color: aliceblue">Active Cases : {{activecases}}</h4>
      <h4 style="-webkit-text-fill-color: aliceblue">Discharged Patients : {{dischargedcount}}</h4>
      <br>

      <button routerLink="/statics/hospital" style="width: 300px; margin-left: 170px" class="btn btn-primary btn-lg btn-block">More Details</button>
        <!--<select  type="text">-->
          <!--<option >More Details</option>-->
          <!--<option><button routerLink="/statics/hospital" style="width: 300px; margin-left: 170px" class="btn btn-primary btn-lg btn-block">Hospital Level</button></option>-->
          <!--<option> <button routerLink="/statics/district" style="width: 300px ;  margin-left: 170px" class="btn btn-primary btn-lg btn-block">District Level-->
          <!--</button></option>-->

        <!--</select>-->

    </div>

    </div>


<app-footer></app-footer>
</div>
