<div class="jumbotron" style="background:transparent !important; color: white">
  <div class="row justify-content-center">
    <div class="col-6 pt-1 pb-5 mt-3" style="text-align: center">
      <h1 style="text-shadow: 4px 4px 4px #000000; margin-top: 180px">NATIONAL COVID MANAGEMENT</h1>
      <h1 style="text-shadow: 4px 4px 4px #000000;">SYSTEM</h1>
    </div>
    <div class="col-6 pt-1 pb-5 mt-3" style="text-align: center; display">
      <br>
      <h2>Total Covid-19 Patients(Country Level) : {{totalCount}}</h2>
      <h4>Active Cases : {{activecases}}</h4>
      <h4>Discharged Patients : {{dischargedcount}}</h4>
      <br>
      <button routerLink="/statics/hospital" style="width: 300px; margin-left: 170px" class="btn btn-primary btn-lg btn-block">Hospital Level</button>
      <br>
      <button routerLink="/statics/district" style="width: 300px ;  margin-left: 170px" class="btn btn-primary btn-lg btn-block">District Level
      </button>
    </div>
  </div>
</div>
