.sidebar{
  background: linear-gradient(to right,#5D90B1 ,#2F4554);
}
ul{
  color: white;
  font-weight: bold;
  font-size: 20px;
  list-style: none;
}

ul>li{
  padding-top:20px ;
  cursor: pointer;
  outline: none;
}
.active{
  color: red!important;
}

.mohblock{
  height:89vh;
}

